.idea/*
.gradle/*
gradle/*


out/*
slumberdb-core/slumberdb-core.iml
slumberdb-core/build/*
slumberdb-leveldb/build/*
target/test-data/*
slumberdb-leveldb/slumberdb-leveldb.iml
slumberdb.iml
slumberdb.ipr
slumberdb.iws

slumberdb-mysql/slumberdb-mysql.iml
slumberdb-leveldb/target/*

slumberdb-mysql/build/classes/*

slumberdb-mysql/build/reports/*

slumberdb-mysql/build/test-results/TEST-org.boon.slumberdb.mysql.SimpleSerializationMySQLStoreTest.xml

slumberdb-mysql/build/tmp/*

slumberdb-mysql/build/test-results/*

settings.gradle~

org.boon.iml

slumberdb-lmdb/slumberdb-lmdb.iml

slumberdb-mysql/build/libs/slumberdb-mysql-1.0-SNAPSHOT.jar

slumberdb-vertx/build/*


org.boon.iml

slumberdb-vertx/slumberdb-vertx.iml

org.boon.iml

slumberdb-hazelcast/build/*
slumberdb-mysql/build/*

slumberdb-hazelcast/slumberdb-hazelcast.iml

target
slumberdb-rocksdb/build.gradle~

slumberdb-rocksdb/slumberdb-rocksdb.iml

slumberdb-rocksdb/build/

*.log

pom.xml~

slumberdb-mongodb/build/classes/main/org.boon/slumberdb/MongoDBKeyValueStore$1$1.class

slumberdb-mongodb/build/classes/main/org.boon/slumberdb/MongoDBKeyValueStore$1.class

slumberdb-mongodb/build/classes/main/org.boon/slumberdb/MongoDBKeyValueStore.class

slumberdb-mongodb/slumberdb-mongodb.iml
