.idea/*
.gradle/*
gradle/*


out/*
slumberdb-core/slumberdb-core.iml
slumberdb-core/build/*
slumberdb-leveldb/build/*
target/test-data/*
slumberdb-leveldb/slumberdb-leveldb.iml
slumberdb.iml
slumberdb.ipr
slumberdb.iws

slumberdb-mysql/slumberdb-mysql.iml
slumberdb-leveldb/target/*

slumberdb-mysql/build/classes/*

slumberdb-mysql/build/reports/*

slumberdb-mysql/build/test-results/TEST-info.slumberdb.SimpleSerializationMySQLStoreTest.xml

slumberdb-mysql/build/tmp/*

slumberdb-mysql/build/test-results/*
